body{
  background-color: rosybrown;

}
.App {
  text-align: center;
}
ul li{
  list-style: none;
  display: inline-flex;

}
li{
  margin-left: 2vh;
  color: rgb(255, 239, 208);
}
h1,label{
  color:rgb(255, 239, 208);
}
select{
  border-radius: 10px;
  height: 25px;
  margin: 2px 2px;
  padding: 2px 2px;
  width:20vh;
}
label{
  font-size: 20px;
}
.FiterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProductCard{
  transition: all ease 1s;
}
.ProductCard:hover{
  cursor: pointer;
  scale: 1.05;

}